@page "/"

<h1>Настройки</h1>

Welcome to your new app.

<BSBasicForm>
    <BSFormGroup>
        <BSLabel For="exampleInputEmail1">Email address</BSLabel>
        <BSBasicInput Id="exampleInputEmail1" InputType="InputType.Email" PlaceHolder="Enter email" Value="string.Empty"></BSBasicInput>

            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </BSFormGroup>

    <BSFormGroup>
        <BSLabel For="exampleInputPassword1">Password</BSLabel>
        <BSBasicInput Id="exampleInputPassword1" InputType="InputType.Password" PlaceHolder="Password" Value="string.Empty"></BSBasicInput>
    </BSFormGroup>

    <BSFormGroup IsCheck="true">
        <BSBasicInput Id="exampleCheck1" InputType="InputType.Checkbox" Value="string.Empty"></BSBasicInput>
            <BSLabel IsCheck="true" For="exampleCheck1">Check me out</BSLabel>
    </BSFormGroup>

    <BSButton Color="Color.Primary" ButtonType="ButtonType.Submit">Submit</BSButton>

</BSBasicForm>
